<!DOCTYPE HTML>
<html lang="en">
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	

</head>
<body>
	
	<div class="main-area center-text" style="background-image:url(images/img1.jpg);">
		
		<div class="display-table">
			<div class="display-table-cell">
				
				<h1 class="title font-white"><b>Comming Soon</b></h1>
				<p class="desc font-white" >Our website is currently under construction. Chat us up through the <span style="color: rgb(129, 129, 243); font-size: 1.9rem;" > Livechat </span>  to make your transactions.</p>
				
				<a class="notify-btn" href="/"><b>see more</b></a>
				
				<ul class="social-btn font-white">
					<li><a href="https://facebook.com/coinpavier">facebook</a></li>
					<li><a href="#">twitter</a></li>
					<li><a href="#">telegram</a></li>
					<li><a href="#">whatsapp</a></li>
					<li><a href="#">instagram</a></li>
					<h6 class="desc font-white">Coinpavier | Copyright @ 2020</h6>
				</ul><!-- social-btn -->
				
			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->

	
</body>
</html>